/* 전체적인 레이아웃 스타일 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Noto Sans KR', sans-serif;
}

.login-h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

/* 사용자 타입(고객, 관리자) 선택 스타일 */
.login-login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-login-label {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.login-login-input {
  margin-right: 8px;
  transform: scale(1.2);
}

.login-login-label + .login-login-label {
  margin-left: 20px;
}

/* 아이디/비밀번호 입력 필드 스타일 */
.login-div {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}

.login-input {
  width: 100%;
  padding: 13px; 
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1.1rem; /* 폰트 크기를 키워서 입력 칸을 더 크고 명확하게 */
  box-sizing: border-box;
}

/* 버튼 스타일 */
.login-button-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
  margin: 20px auto 0;
}

.submit-button, .cancel-button {
  width: 48%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.submit-button {
  background-color: #000000;
  color: white;
}

.cancel-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

.submit-button:hover {
  background-color: #444444;
}

.cancel-button:hover {
  background-color: #f0f0f0;
}

/* 체크박스 스타일 */
form div label {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9rem;
  color: #555;
}

form div input[type="checkbox"] {
  margin-right: 5px;
}

/* 하단 링크 스타일 */
.login-container a {
  color: #555555;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-container a:hover {
  color: #000000;
  text-decoration: underline;
}

.signup-link {
  margin-right: 10px;
  text-decoration: none;
  color: #555;
}

.signup-link:last-child {
  margin-right: 0;
}

/* 성별 선택 라디오 버튼 */
.gender-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gender-selection label {
  margin-right: 20px;
  font-size: 1.2rem;
}

.login-bottom-div{
  margin-top: 10px;
}
