@font-face {
  font-family: "SDKukdetopokki-Lt";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.titleFont {
  font-family: "InkLipquid";
}

.font {
  font-family: "SDKukdetopokki-Lt";
}

/* 메인페이지 */
.banner {
  width: 100%;
  height: 200px;
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-bottom: 10px;
}

.categoryBox,
.cityBox,
.bookMarkBox,
.logo {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.locationBox {
  align-items: center;
}

.subTitle {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}
.category,
.city {
  height: 66px;
  width: 66px;
  background: #ededed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 10px;
  border: none;
}

.bookMark {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #d9d9d9;
  padding: 5px;
  width: 150px;
  height: 130px;
  text-align: center;
  margin: 10px;
}

.bookMark img {
  width: 100%;
  margin-bottom: 3px;
}

/* 카테고리 목록 페이지 */
.headerTitle {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}
.backBtn {
  position: absolute;
  left: 20px;
  height: 25px;
  line-height: 25px;
}
.CategoryStore {
  height: 250px;
  width: 250px;
  position: relative;
}

.CategoryStore img {
  border-radius: 15px;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.storeContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 10px;
}

/* Store */
.gridBox {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.gridItem {
  width: 45%;
  padding: 10px;
}

.gridItem img {
  width: 100%;
  margin-bottom: 3px;
}

.customBtn {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

.orderTitle {
  text-align: center;
}
/* Order */
.orderLabel {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  align-items: center;
}

.orderLabel div {
  width: 30%;
}

.orderInput {
  flex-grow: 1;
  height: 23px;
}

.orderBtn {
  text-align: center;
  margin-top: 20px;
}

.orderBtn button {
  width: 70%;
}

.orderContent {
  text-align: center;
}

/* Region */
.locationBox {
  display: flex;
  align-items: center;
}
.regionItem {
  margin: 2px;
  border: none;
}
