/* 메인페이지 */
.banner {
  width: 100%;
  height: 200px;
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-bottom: 10px;
}

.categoryBox,
.cityBox,
.bookMarkBox,
.locationBox,
.logo {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.locationBox {
  align-items: center;
}

.subTitle {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}
.category,
.city {
  height: 66px;
  width: 66px;
  background: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 10px;
}

.bookMark {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin: 10px;
}

.bookMark img {
  width: 100%;
  margin-bottom: 3px;
}

/* 카테고리 목록 페이지 */
.headerTitle {
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative;
}
.backBtn {
  position: absolute;
  left: 5px;
}
.CategoryStore {
  width: 95%;
  height: 200px;
  margin: 20px auto;
  position: relative;
}

.CategoryStore img {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  height: 200px;
}

.storeContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

/* Store */
.gridBox {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.gridItem {
  width: 45%;
  padding: 10px;
}

.gridItem img {
  width: 100%;
  margin-bottom: 3px;
}

.customBtn {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

.orderTitle {
  text-align: center;
}
/* Order */
.orderLabel {
  width: 80%;
  margin: 0 auto;
  color: #888888;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.orderLabel div {
  width: 20%;
}

.orderInput {
  flex-grow: 1;
  margin-left: 10px;
  height: 23px;
}

.orderBtn {
  text-align: center;
  margin-top: 20px;
}

.orderBtn button {
  width: 70%;
}

.orderContent {
  text-align: center;
}
