/* 전체 컨테이너 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* 배경색 흰색 */
  font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
}

/* 타이틀 */
.signup-h1 {
  font-size: 4rem; /* 타이틀 크기 */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000000; /* 검은색 */
}

/* 유저/관리자 링크 섹션 */
.user-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.user-type a {
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none; /* 링크 밑줄 제거 */
  margin: 0 10px;
  color: #bbbbbb;
}

.active-link {
  font-weight: bold;
  color: #000000;
}

/* 입력 필드 스타일 */
.signup-form {
  width: 100%;
  max-width: 380px; /* 입력 필드 너비 */
  margin: 0 auto;
}

.signup-div {
  margin-bottom: 9px;
}

.signup-input {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 25px; /* 입력 상자 둥근 모서리 */
  font-size: 1.1rem;
  box-sizing: border-box;
}

/* 버튼 스타일 */
.signup-button-div {
  display: flex;
  justify-content: space-between; /* 버튼 간 간격을 자동으로 설정 */
  width: 100%;
  max-width: 380px;
  margin: 20px auto 0; /* 위쪽에 여백 추가 */
}

.submit-button, .cancel-button {
  width: 48%; /* 버튼이 48%씩 차지하도록 설정 */
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.submit-button {
  background-color: #000000;
  color: white;
}

.cancel-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  margin-bottom: auto;
}

.submit-button:hover {
  background-color: #444444;
}

.cancel-button:hover {
  background-color: #f0f0f0;
}

/* 고객 관리자 선택 섹션 */
.signup-signup-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signup-signup-label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.signup-signup-input {
  margin-right: 8px;
  transform: scale(1.2);
}

.signup-signup-label + .signup-signup-label {
  margin-left: 20px;
}

/* 성별 선택 섹션 */
.signup-signup-div:nth-of-type(2) {
  margin-top: 15px;
}
