@media (min-width: 600px) {
  .App {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .App {
    width: 100vw;
  }
}

#root {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}


/* Yewon Styling */

/* ProfileHeader */
.profile-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.profile-mypage h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.btn-edit-profile {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
}

/* tab-menu */
.tab-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

.tab-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #00000036;
}

.tab-menu button.active {
  font-weight: bold;
  color: black;
}

/* ReservationList */
.reservation-list, .favorite-list{
  display: flex;
  padding: 15px;
  margin: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  align-items: center;
}

/* ReviewList */
.review-header {
  padding: 10px 20px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}

.review-list {
  padding: 10px 20px;
}

/* Yewon Styling*/